.arch1 { background-image: url("../images/arch_1.jpg"); }
.arch2 { background-image: url("../images/arch_2.jpg"); }
.arch3 { background-image: url("../images/arch_3.jpg"); }
.arch4 { background-image: url("../images/arch_4.jpg"); }
.chi1 { background-image: url("../images/chi_1.jpg"); }
.chi2 { background-image: url("../images/chi_2.jpg"); }
.abst1 { background-image: url("../images/abst_1.jpg"); }
.abst2 { background-image: url("../images/abst_2.jpg"); }
.gb1 { background-image: url("../images/gb_1.jpg"); }
.gb2 { background-image: url("../images/gb_2.jpg"); }
.gb3 { background-image: url("../images/gb_3.jpg"); }
.irl1 { background-image: url("../images/irl_1.jpg"); }
.it1 { background-image: url("../images/it_1.jpg"); }
.skye1 { background-image: url("../images/skye_1.jpg"); }
.skye2 { background-image: url("../images/skye_2.jpg"); }
.skye3 { background-image: url("../images/skye_3.jpg"); }
.skye4 { background-image: url("../images/skye_4.jpg"); }
.snow1 { background-image: url("../images/snow_1.jpg"); }
